$primaryColor: #036ffc;

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: $primaryColor;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.center-title {
  text-align: center;
}

.container {
  background-color: white;
  color: black;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 8px;
}

.footer {
  height: 2rem;
  width: 100%;
  background-color: lightgray;
  color: black;
  text-align: center;
}

.form-content {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.form-input {
  width: 70%;
}

.form-submit {
  width: 20%;
}

.form-submit-button {
  border-color: $primaryColor;
  background-color: white;
  color: black;
  width: 100%;
  cursor: pointer;
  height: 100%;
  transition-duration: 0.4s;
  border-radius: 10px;

  &:hover {
    background-color: $primaryColor;
    color: white;
  }
}

.error {
  color: red;
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.input {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid black;
  background: none;
}

.options {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.person-form {
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70%;
}

.phonebook {
  width: 70%;
  border-collapse: collapse;
  border: 2px solid black;
  margin-bottom: 2rem;
}

.phonebook-body {
  height: 30vh;
  overflow-y: scroll;
}

.phonebook-entry {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px;
}

.phonebook-header {
  width: 100%;
  background-color: $primaryColor;
  color: white;
  text-align: left;
}

.phonebook-row {
  &:hover {
    background-color: $primaryColor;
    color: white;

    .options {
      color: white;

      &:hover {
        color: red;
      }
    }
  }
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
